@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color:#517FE7;
    height:67px;
    width:100%;
    color:white;
    text-align:center;
}

header h1{
    padding-top:20px;
    font-weight:normal;
}
section {
    width:375px;
    height:667px;
    background-color: #f3f3f3;
    border: 1px solid #747474;
    margin:auto;
    font-family: Roboto;
}

div#avatar {
    width:124px;
    height:124px;
    border-radius:50%;
    border: 2px solid #7f7f7f;
    float:left;
    margin: 20px 20px 0 50px;
}

section#avatar_info {
    margin-top:50px;
    height:60px;
    line-height: 20px;
    border:none;
}

section#upcoming_rides h5, section#past_rides h5 {
    font-weight:normal;
    margin:0 0 10px 0;
}

section#upcoming_rides, section#past_rides{
    width:320px;
    height:102px;
    background-color:white;
    box-shadow: 0 0 4px #7f7f7f;
    border-radius:3px;
    margin-top:70px;
    border:none;
    padding:10px;
}

section#past_rides {
    margin-top:24px;
}


p{
    color:#2D4A8E;
    margin-top:25px;
    text-decoration: underline;
}

button {
    border-radius: 3px;
    box-shadow: 0 0 4px #7f7f7f;
    width: 113px;
    height:30px;
    margin:10px 0;
}

button:hover {
    cursor: pointer;
}

button.cancel {
    background-color:white;
    border: 2px solid #D32F2F;
    box-shadow:none;
    color:#D32F2F;
}

button.details {
    background-color: #517FE7;
    border-color:#517FE7;
    color:white;
}

button.review {
    background-color: #FFB74D;
    border-color:#FFB74D;
    color:white;
}

footer {
    height:50px;
    width:375px;
    background-color: #517FE7;
    margin-top:102px;
}